.item-item p {
    font-size: 18px;
    color: black;
}

.item-item a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.item-item a:hover {
    text-decoration: underline;
}

.item-img-wrapper {
    position: relative;
}
.item-img-wrapper > img {
    cursor: default;
}

.add-to-cart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-color: #ffffff;
    border-radius: 100%;
    width: 40px;
}

.add-to-cart-button:hover{
    /* box-shadow: 0px 0px 10px #2dbe64; */
    background-color: #2dbe64;
}


.item-img-wrapper[addItemAnimation='1'] {
    animation: enlarge 1s 1;
  }

  @keyframes enlarge {
    33% {
      transform: scale(1.2);
    }
    66% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1.0);
    }
  }
