.user-menu-wrapper{
    min-width: 150px;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 50px;
}

.user-menu-top-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-menu-wrapper > button.black-button-square {
    width: 100%;
}

.profile-links-wrapper{
    align-self: center;
}

.profile-tile-wrapper, .profile-link > button{
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-around;
}

.profile-tile-wrapper > img{
    width: 50px;
    height: 100%;
    object-fit: scale-down;
    align-self: center;
}

.profile-tile-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-link > button > h3{
    font-size: 20px;
}

.profile-tile-wrapper-right > h2 {
    /* margin-right: 8px; */
    font-size: 28px;
}

.profile-links-list{
    list-style: none;
    padding-left: 0;
    margin-left: 0px;
}
