.user-menu-wrapper{
    width: 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.profile-links-wrapper{
    align-self: center;
}

.profile-tile-wrapper, .profile-link > button{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.profile-link > button > h3{
    font-size: 20px;
}

.profile-tile-wrapper-left > h2 {
    margin-left: 8px;
    font-size: 28px;
}


.profile-links-list{
    list-style: none;
    padding-left: 0;
}
