.search{
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 15px;
}

.search > form > input {
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px;
    width: 500px;
}

.search-button{
    background-color: transparent;
    border: none;
}

.search-button > i {
    color: black;
    padding-right: 5px;
}
