body{
    font-family: 'Uber Move Text', sans-serif;
    margin: 0px;
    border: none;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.transparent-button-square{
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
}

.black-button-round{
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
}
.black-button-square{
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
}

.gray-button-square{
    background-color: lightgray;
    color: black;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
}

.white-button-round{
    background-color: white;
    color: black;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
}

button.hover-green:hover{
    box-shadow: 0px 0px 10px #2dbe64;
}

button.hover-red:hover{
    box-shadow: 0px 0px 10px #f41b14;
}

button.background-green:hover{
    background-color: #2dbe64;
    color: white;
}

button.background-orange:hover{
    background-color: #ff7b00;
    color: white;
}

button.background-gold:hover{
    background-color: #ffbf00;
    color: white;
}

button.background-red:hover{
    background-color: #f41b14;
    color: white;
}

span.bold{
    font-weight: bold;
}

.site-wrapper{
    background-image: none;
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* max-width: 1920px; */
    /* align-items: center; */
}

.nav-wrapper{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: white;
}
.main-content-wrapper{
    width: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    margin-top: 79px;
}

button{
    cursor: pointer;
}

.error-list-item, .form-error{
    color:red;
}
