.business-name {
    font-size: 18px;
    color: black;
}

.business-item a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.business-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business-rating{
    font-size: 11px;
    color: black;
    background-color: lightgray;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 20px;
}
