.business-name {
    font-size: 18px;
    color: black;
}

.business-item a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.business-item a:hover {
    text-decoration: underline;
}

.business-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business-rating{
    color: gray;
}
