.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

.cart-modal-button-wrapper{
  width: fit-content;
  padding-top: 0px;
  margin-right: 10%;
}

.cart-modal-button-wrapper > .nav-list-item{
  width: 100%;
  /* align-self: center; */
  /* margin: 0; */
}

.home-sidebar-wrapper, .login-signup-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  column-gap: 5px;
}

.home-button {
  background-color: transparent;
  border: none;
}

.home-button > a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

/*DARK*/

.nav-list.dark-background{
  background-color: black;
}

.home-button.dark-background > a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.home-button.dark-background > a > span {
  color: #2dbe64;
}
