.order-wrapper, .order-wrapper-left, .order-wrapper-left-top-text{
    display: flex;
    align-items: center;
}

.order-wrapper{
    justify-content: space-between;
}

.order-wrapper-left, .order-wrapper-left-top-text{
    column-gap: 15px;
}

.order-wrapper-left > img {
    align-self: flex-start;
    margin-top: 20px;
}

.order-wrapper-right{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
}
