.splash-text-wrapper{
    width: fit-content;
    margin-left: 8%;
    margin-top: 20%;
}

.splash-greeting-text{
    color: white;
    font-size: 54px;
    font-weight: bold;
}

.site-wrapper.splash-page{
    background-image: url("../../assets/sushi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
