.profile-page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}

.account-stats-wrapper{
    text-align: center;
}
.basic-info-wrapper, .account-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: -10px;
}

.account-info-button-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.paccount-info-button-wrapper button {
    width: 100%;
}
