
.carousel-wrapper{
    display: flex;
    flex-direction: column;
}

.carousel-top-wrapper, .carousel-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}

.carousel-top-wrapper div {
    margin: 0px 10px;
}

.carousel-button-wrapper button {
    padding: 2.5px 6px;
    font-size: 12px;
}

.carousel{
    display: flex;
    align-items: center;
    align-self: center;
}
