.review-modal-wrapper{
    max-height: 500px;
    height: 100%;
}

.review-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.review-modal > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.review-modal-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-modal-buttons > button{
    width: 30%;
}
