.SingleBusiness-bottom-wrapper{
    display: flex;
}

.SingleBusiness-bottom-left-wrapper{
    width: 250px;
    margin-top: 10px;
    /* overflow-x: wrap;
    overflow-wrap: break-word; */

}
.SingleBusiness-bottom-left-wrapper > p {
    margin-left: 15px;
    overflow-x: wrap;
    overflow-wrap: break-word;
    font-size: 14px;
}

.SingleBusiness-bottom-right-wrapper{
    width: 100%;
}

.SingleBusiness-bottom-right-wrapper > h2 {
    margin-left: -1%;
}

.businesspage-review-header{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
